# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.env

# Audio Data
data/raw/
data/processed/
*.wav

# Training Outputs
checkpoints/
runs/
logs/
outputs/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Datasets
datasets/

# Generated manifests
data/manifests/

# Models
weights/
models_saved/

# jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

*.pth
*.pt

build/
core.c
core.cpython-312-x86_64-linux-gnu.so